*~
*.swp
.vcli
.vstore.json
.vnode.json
.vconfig.json
.vconsul.token
.vappcontext.json
.config
.config/*
*.swo
*.tmp
*.out
cogimports.*
node_modules
vbuilder/builder/node_modules
dist
dist/*
build/*.deb
build/pkg
build/pkg/*
build/debug
build/debug/*
deployment/dev/.instance
deployment/dev/.vagrant
deployment/dev/.vagrant/*
assets/vappdev
assets/vbuilder
assets/vapphost
tmp
.tmp
.tmp/*
.idea
.idea/*
.vagrant
.vagrant/*
.instance
pkg
www
www/*
assets
